---
layout : default
---
<div class="page-header clearfix">
    <h1>{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1>
    <ul class="info">
        <li class="cate">
            <strong>Cate：</strong>{{# page.categories?to_categories }}<a href="{{url}}">{{name}}</a>{{/ page.categories?to_categories }}
        </li>
        <li class="date"><strong>Publish：</strong>{{ page.date }}</li>
  </ul>
</div>

<div class="row">
  <div class="span12">
    {{{ content }}}
    <hr/>
    <ul class="pager">
        {{# page?previous }}
            <li class="previous"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
        {{/ page?previous }}
        {{^ page?previous }}
            <li class="previous disabled"><a>&larr; Previous</a></li>
        {{/ page?previous }}

        {{# page?next }}
            <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
        {{/ page?next }}
        {{^ page?next }}
            <li class="next disabled"><a>Next &rarr;</a>
        {{/ page?next }}
    </ul>
    {{{ comments }}}
    </div>
</div>
